@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full rounded-md border border-zinc-300 bg-white px-3 py-2 text-base text-zinc-900 placeholder-zinc-400 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500 disabled:cursor-not-allowed disabled:bg-zinc-100 disabled:text-zinc-400;
}

.dropdown {
  @apply z-10 rounded-md border border-zinc-300 bg-white shadow-xl/40
  focus:outline-none;
}

.btn-primary {
  @apply rounded-md bg-blue-600 px-4 py-2 text-base font-medium text-white hover:bg-blue-700 disabled:cursor-not-allowed disabled:bg-zinc-300 disabled:text-zinc-500;
}

.label {
  @apply mb-1 block text-base font-medium text-zinc-700;
}

.page-shell {
  @apply flex min-h-screen flex-col bg-zinc-50 font-sans;
}

.page-content {
  @apply mx-auto flex w-full max-w-3xl flex-col gap-8 px-4 sm:px-16;
}
